.sudokuGrid {
    display: grid;
    grid-template-columns: repeat(9, min(50px, 10vw));
    grid-template-rows: repeat(9, min(50px, 10vw));
    border-radius: 10px;
    width: fit-content;
    overflow: hidden;
    gap: 5px;

    .sudokuCell {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: sans-serif;

        background-color: blueviolet;
        user-select: none;

        cursor: pointer;
        outline: none;

        &.selected {
            // border: 1px solid red;
            background-color: purple;
        }
        &.inline {
            background: blueviolet;
            opacity: 0.5;
        }
        &.wrong {
            background: red;
        }
        p.nonEditable {
            font-weight: bold;
        }

        .sudokuCellNotes {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0.75rem;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);

            div {
                display: flex;
                justify-content: center;
                p {
                    opacity: 0.75;
                    align-self: center;
                    text-align: center;
                }
            }
        }
    }
}
