// Background colors
// $dark-background-900: #1d1f29;
// $dark-background-500: #363a4d;

// // Text colors
// $dark-text-light: #fff;

// // Accent colors
// $dark-color-1: #72e6a4;
// $dark-color-2: #e6df72;
// $dark-color-3: #e6a472;
// $dark-color-4: #e67e72;
// $dark-color-5: #72d3e6;
// $dark-color-6: #7285e6;
// $dark-color-6: #e672e6;

// // Breakpoints
// $breakpoint-phone: 640px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1024px;

// // Border radiuses
// $card-border-radius: 0.25rem;

// $background: #1d1f29;
// $cell-normal: blueviolet;
// $cell-selected: purple;
// $cell-wrong: red;

$background: #ffffff;
$cell-normal: #e7e7e7;
$cell-selected: #6200ee;
$cell-inline: #e0d6ee;
$cell-wrong: red;

$row-gap: 0.5rem;
$grid-gap: 0.2rem;
$cell-size: 1.75rem;
$keyboard-size: calc(9 * $cell-size + 8 * $grid-gap + 2 * $row-gap);

[data-theme='light'] {
    $background: blue;
    $cell-normal: orange;
    $cell-selected: red;
    $cell-wrong: red;
}

@media only screen and (min-width: 400px) {
    body {
        $cell-size: 3rem;
    }
}
