.homeMain {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background;

    // .sudokuButtons {
    //     margin-top: 2rem;
    //     width: min(30rem, 90vw);
    //     height: 10rem;

    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    //     .editNotesButton {
    //         padding: 0.5rem 1rem;

    //         &.active {
    //             background-color: blueviolet;
    //         }
    //     }
    // }
}
